<ion-content>
  <h1 class="saludo">¡Genial!</h1>
  <p class="descripcion">Nos gustaría acceder a tu ubicación para ofrecerte información exacta de dónde te encuentras.
  </p>
  <div class="gps">
    <img src="../../../assets/img/Group 2.svg" alt="group2">
    <p class="gpsTexto">Permite que tu GPS vea donde estás ahora</p>
  </div>

  <p class="textoSeleccionProvincia">¡También tus puedes seleccionar tus provincias favoritas!</p>

  <div class="provincias">
    <div class="contenedorCardProvincias">
      <div class="provincia">

      </div>
      <div class="provincia">

      </div>
    </div>
    <div class="contenedorCardProvincias">
      <div class="provincia">

      </div>
      <div class="provincia">

      </div>
    </div>
    <div class="contenedorCardProvincias">
      <div class="provincia">

      </div>
      <div class="provincia">

      </div>
    </div>
    <div class="contenedorCardProvincias">
      <div class="provincia">

      </div>
      <div class="provincia">

      </div>
    </div>
  </div>

  <div class="contenedorFooter">
    <div class="numPagina">
      <div class="numPagina2">
        <img src="../../../assets/img/Light2.svg" alt="numPaginas">
      </div>
    </div>
    <a href="/onboarding-sin-provincias"><img class="continuar" src="../../../assets/img/Continuar.svg"
        alt="continuar"></a>
  </div>
</ion-content>